<div class="form-group">
    <label>SSN</label>
    <input type="text" class="form-control" name="email">
</div>
<div class="form-group">
    <label>Cobra verification code</label>
    <input type="text" class="form-control" name="cobraCode">
    <br/>
          
    <button id="verifyCobraCodeButton" type="button" onclick={verifyCobraCode} class="btn btn-warning btn-lg">Verify code</button>
</div>