<div class="form-group" id="cobraValidation1">
    <label>First Name</label>
    <input type="text" class="form-control" name="firstName">
</div>
<div class="form-group" id="cobraValidation2">
    <label>Last Name</label>
    <input type="text" class="form-control" name="lastName">
</div>
<div class="form-group" id="cobraValidation3">
    <label>Social security number</label>
    <input type="text" class="form-control" name="socialSecurityNumber">
</div>
<div class="form-group" id="cobraValidation4">
    <label>Password</label>
    <input type="password" class="form-control" name="password">
</div>

<button type="submit" id="cobraValidation5" class="btn btn-warning btn-lg">Signup</button>